---
import { eq } from "drizzle-orm";
import { db } from "../db";
import Layout from "../layouts/Default.astro";
import { CldUploadWidget } from "astro-cloudinary";
import { MdCloudUpload } from "react-icons/md";
import { userImage } from "../../auth-schema";
import Post from "../components/post.astro";
import { imageLike } from "../db/schema";

const currentUser = Astro.locals.user;

const images = await db.query.userImage.findMany({
    where: eq(userImage.userId, currentUser?.id!),
    with: {likes: true, user: true, comments: true}
})

const likes = await db.query.imageLike.findMany({
    where: eq(imageLike.userId, currentUser?.id!),
    with: {
        user: true, image: {with: {likes: true, user: true, comments: true}}
    }
});

const formattedLinkes = likes.map((like) => {
    return {...like.image, user: like.image.user, likes: like.image.likes}
});
---

<Layout>
    <main class="py-10">
        <section class="">
            <img src={currentUser?.image} class="size-28 rounded-full pb-2 mx-auto" />
            <h1 class="text-4xl text-center brightness-150 font-bold">Your Dashbaord</h1>
            <p class="text-2xl text-center">View, delete and check your liked posts</p>
            
            <CldUploadWidget uploadPreset="astro" id="upload-events" signatureEndpoint={'/api/signed'} class="justify-center flex">
                <button class="bg-teal-500 px-3 py-2 text-black uppercase rounded-lg my-4">
                    <div class="flex items-center gap-2">
                        <p>Upload</p>
                        <MdCloudUpload className="size-6" />
                    </div>
                </button>
            </CldUploadWidget>
        </section>
        
        <section class="card mt-8">
            <h2 class="pb text-3xl text-center">My posts</h2>
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
                {images.length === 0 ? (<p>You have no posts</p>): images.map((post) =>
                    <Post imgData={post} currentUser={currentUser} />
                )}
            </div>
        </section>

        <section class="card mt-8">
            <h2 class="pb text-3xl text-center">My liked posts</h2>
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
                {likes.length === 0 ? (<p>You have no liked posts</p>): formattedLinkes.map((post) =>
                    <Post imgData={post} currentUser={currentUser} />
                )}
            </div>
        </section>
    </main>
</Layout>

<script>
    import { actions } from 'astro:actions';

    const widget = document.querySelector("#upload-events");

    if(widget) {
        widget.addEventListener('clduploadwidget:success', async (e) => {
            //@ts-ignore
            const imageUrl = e.detail.info.public_id as string;
            //@ts-ignore
            const format = e.detail.info.format as string;
            
            const { data, error } = await actions.addImage({
                format, publicId: imageUrl,
            })
            if (error) {
                console.error(error);
            }
            if (data) {
                console.log(data);
                window.location.href = "/dashboard";
            }
        })
    }
</script>